@charset "UTF-8";

.bb-color-pattern {
	background-image:
		url(#2ac4b3;#feaf29;#ff617b;#73a2ef;#b180d0;#3064cf;#d0a45f;#8aaec7;#ef65a2;#8aaec7;)
}

.bb svg {
	font-family: Sans Pro, Arial, sans-serif, nanumgothic, Dotum;
	font-size: 15px;
	line-height: 1
}

.bb line, .bb path {
	fill: none;
	stroke: #000
}

.bb .bb-button, .bb text {
	-webkit-font-smoothing: antialiased;
	fill: #555;
	font-size: 15px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.bb-axis {
	stroke-width: 1.2px
}

.bb-axis-y text, .bb-axis-y2 text {
	fill: #737373
}

.bb-event-rects {
	fill-opacity: 1 !important
}

.bb-event-rects .bb-event-rect {
	fill: transparent
}

.bb-event-rects .bb-event-rect._active_ {
	fill: rgba(39, 201, 3, .05)
}

.tick._active_ text {
	fill: #00c83c !important
}

.bb-grid {
	pointer-events: none
}

.bb-grid line {
	stroke: #f1f1f1
}

.bb-xgrid-focus line, .bb-ygrid-focus line {
	stroke: #ddd
}

.bb-text.bb-empty {
	fill: #767676
}

.bb-line {
	stroke-width: 1.2px
}

.bb-circle {
	fill: #fff !important
}

.bb-circle._expanded_ {
	stroke-width: 2px
}

.bb-selected-circle {
	fill: #fff;
	stroke-width: 2px
}

.bb-bar {
	stroke-width: 1px
}

.bb-bar._expanded_ {
	fill-opacity: .75
}

.bb-candlestick {
	stroke-width: 1px
}

.bb-candlestick._expanded_ {
	fill-opacity: .75
}

.bb-circles.bb-focused, .bb-target.bb-focused {
	opacity: 1
}

.bb-circles.bb-focused path.bb-line, .bb-circles.bb-focused path.bb-step,
	.bb-target.bb-focused path.bb-line, .bb-target.bb-focused path.bb-step
	{
	stroke-width: 4px
}

.bb-circles.bb-defocused, .bb-target.bb-defocused {
	opacity: .3 !important
}

.bb-circles.bb-defocused .text-overlapping, .bb-target.bb-defocused .text-overlapping
	{
	opacity: .05 !important
}

.bb-region {
	fill: #4682b4;
	fill-opacity: .1
}

.bb-region.selected rect {
	fill: #27c903
}

.bb-brush .extent, .bb-zoom-brush {
	fill-opacity: .1
}

.bb-legend-item {
	user-select: none
}

.bb-legend-item line.bb-legend-item-tile {
	stroke-linecap: round;
	stroke-width: 4px;
	stroke-dasharray: 1 20;
	transform: translate(7px, 1px)
}

.bb-legend-item-hidden {
	opacity: .15
}

.bb-legend-background {
	fill: #fff;
	stroke: #d3d3d3;
	stroke-width: 1;
	opacity: .75
}

.bb-title {
	font-size: 15px
}

.bb-tooltip-container {
	font-family: Sans Pro, Arial, sans-serif, nanumgothic, Dotum;
	user-select: none;
	z-index: 10
}

.bb-tooltip {
	-webkit-font-smoothing: antialiased;
	background-color: #fff;
	border: 1px solid #999;
	border-collapse: separate;
	border-radius: 2px;
	border-spacing: 0;
	empty-cells: show;
	font-size: 15px;
	text-align: left
}

.bb-tooltip th {
	background-color: #0b00b1;
	border-bottom: 2px solid #ff2d2d;
	color: #fffdfd;
	font-size: 15px;
	padding: 2px 8px;
	text-align: left
}

.bb-tooltip td {
	padding: 4px 6px
}

.bb-tooltip td:first-child {
	padding-left: 8px
}

.bb-tooltip td:last-child {
	padding-right: 8px
}

.bb-tooltip td>span, .bb-tooltip td>svg {
	border: 1px solid #000;
	border-radius: 3px;
	display: inline-block;
	height: 8px;
	margin-right: 6px;
	vertical-align: middle;
	width: 8px
}

.bb-tooltip td.value {
	border-left: 1px solid transparent;
	text-align: right
}

.bb-tooltip .bb-tooltip-title {
	color: #aaa;
	display: inline-block;
	line-height: 20px
}

.bb-tooltip .bb-tooltip-detail table {
	border-collapse: collapse;
	border-spacing: 0
}

.bb-tooltip .bb-tooltip-detail .bb-tooltip-name, .bb-tooltip .bb-tooltip-detail .bb-tooltip-value
	{
	color: #444;
	font-size: 15px;
	font-weight: 400;
	line-height: 13px;
	padding: 4px 0 3px;
	text-align: left
}

.bb-tooltip .bb-tooltip-detail .bb-tooltip-value {
	font-size: 15px;
	font-weight: 800;
	padding-left: 5px
}

.bb-area {
	stroke-width: 0;
	opacity: .2
}

.bb-chart-arcs-title {
	dominant-baseline: middle;
	font-size: 1.3em
}

text.bb-chart-arcs-gauge-title {
	dominant-baseline: middle;
	font-size: 2.7em
}

.bb-chart-arcs .bb-chart-arcs-background {
	fill: #e0e0e0;
	stroke: none
}

.bb-chart-arcs .bb-chart-arcs-gauge-unit {
	fill: #000;
	font-size: 18px
}

.bb-chart-arcs .bb-chart-arcs-gauge-max, .bb-chart-arcs .bb-chart-arcs-gauge-min
	{
	fill: #777
}

.bb-chart-arcs .bb-chart-arcs-title {
	fill: #000;
	font-size: 18px !important;
	font-weight: 600
}

.bb-chart-arcs path.empty {
	fill: #eaeaea;
	stroke-width: 0
}

.bb-chart-arcs .bb-levels circle {
	fill: none;
	stroke: #848282;
	stroke-width: .5px
}

.bb-chart-arcs .bb-levels text {
	fill: #848282
}

.bb-chart-arc .bb-gauge-value {
	fill: #3b6969
}

.bb-chart-arc path {
	stroke: #000;
	stroke-width: .5px
}

.bb-chart-arc rect {
	stroke: #fff;
	stroke-width: 1
}

.bb-chart-arc text {
	fill: #fff;
	font-size: 14px
}

.bb-chart-radars .bb-levels polygon {
	fill: none;
	stroke: #848282;
	stroke-width: .5px
}

.bb-chart-radars .bb-levels text {
	fill: #848282
}

.bb-chart-radars .bb-axis line {
	stroke: #848282;
	stroke-width: .5px
}

.bb-chart-radars .bb-axis text {
	cursor: default;
	font-size: 1.15em
}

.bb-chart-radars .bb-shapes polygon {
	fill-opacity: .2;
	stroke-width: 4px;
}

.bb-button {
	position: absolute;
	right: 10px;
	top: 10px
}

.bb-button .bb-zoom-reset {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	cursor: pointer;
	padding: 5px
}
/* 수기 추가 */
#babyName{
    	box-sizing: border-box;
		width: 7.5rem;
		height: 2.5rem;
		padding: 4px;
		font-size: 20px;
		border-radius: 6px;
		color: dimgray;
}

#chart {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.aChart {
	margin: 0px 32px;
    width: 70rem;
    height: 35rem;
}

/* .bb-legend {
	stroke-width: 1px;
}

text {
	font-size: 20px;
}

tspan{
	font-size: 20px;
} */

.slider {
	width: 99%;
    height: 90%;
/*     border: 1px solid black; */
    position: relative;
/*     margin: 12px auto; */
    margin-top: 2%;
    overflow: hidden;
    z-index: 0;
}

.slider input[type="radio"] {
	display: none;
}

.slider .sliderwrap {
	margin: 0 auto;
	overflow: hidden;
	white-space : nowrap;
}

.slider .charts > li {
	display: inline-block;
	margin : 0 auto;
	vertical-align: middle;
	width: 100%;
	transition: all .5s;
}

.slider .charts > li > .aChart {
	display : block;
	position : relative;
}

.slider [id="slide1"]:checked ~ .sliderwrap .charts > li {
	transform: translateX(0%);
}

.slider [id="slide2"]:checked ~ .sliderwrap .charts > li {
	transform: translateX(-100%);
}

.slider [id="slide3"]:checked ~ .sliderwrap .charts > li {
	transform: translateX(-200%);
}

.bullets {
	position: absolute;
	left: 47%;
	z-index: 2;
}

.bullets label {
	display: inline-block;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.55);
	width: 10px;
	height: 10px;
	cursor: pointer;
}