.fullLogin{
	margin:0 auto;
	margin-top:5rem;
	width:40rem;
	height:30rem;

}
.loginTitle{
	margin:0 auto;
	margin-top:2rem;
	text-align:center;
	font-size:3rem;
	letter-spacing: 8px;
	width: 10rem;
	padding: 10px;
	font-weight: bold;
	color: rgb(97, 97, 97);
	
}
.smallLoginTitle{
	margin:0 auto;
	margin-top:1rem;
	text-align:center;
	font-size:1.5rem;
	letter-spacing: 7px;
	width: 20rem;
	padding: 10px;
	font-weight: bold;
	color: rgb(97, 97, 97);
}
#naverIdLogin_loginButton{
	margin: auto;
	margin-top:3rem;
	width:19rem;
	
}
#kakaoIdLogin_loginButton{
	margin: auto;
	margin-top:0.5rem;
	margin-bottom:2rem;
	width:19rem;
	
}
.otherFunctions{
	margin:0 auto;
	border-width: 6px 0px 0px 0px ;
	border-style:solid;
	border-color:grey;
	width:20rem;
}
.joinbutton{
	margin-top:10px;
	float:left;
	color:grey;
	cursor:pointer;
}
.findInfo{
	margin-top:10px;
	margin-right:5px;
	float:right;
	color:grey;
	cursor:pointer;
}