.fullJoin{
	margin:0 auto;
	margin-top:5rem;
	width:40rem;
	height:30rem;
}
.joinTitle{
	margin:0 auto;
	margin-top:2rem;
	text-align:center;
	font-size:3rem;
	letter-spacing: 8px;
	width: 15rem;
	padding: 10px;
	font-weight: bold;
	color: rgb(97, 97, 97);
}
.smallJoinTitle{
	margin:0 auto;
	margin-top:1rem;
	text-align:center;
	font-size:1.5rem;
	letter-spacing: 7px;
	width: 20rem;
	padding: 10px;
	font-weight: bold;
	color: rgb(97, 97, 97);
}
#naverIdLogin_loginButton{
	margin: auto;
	margin-top:3rem;
	width:19rem;
	
}
#kakaoIdJoin_joinButton{
	margin: auto;
	margin-top:0.5rem;
	margin-bottom:2rem;
	width:19rem;
	
}
.btn_login {
    display: block;
    width: 100%;
    padding: 13px 0 13px;
    border-radius: 6px;
    border: solid 1px rgba(0,0,0,.15);
    background-color: #03c75a;
    box-sizing: border-box;
}
.otherFunctions{
	margin-top:10px;
	margin:0 auto;
	border-width: 4px 0px 0px 0px ;
	border-style:solid;
	border-color:grey;
	width:20rem;
}
.moveLoginTitle{
	margin-top:10px;
	margin-left:5px;
	float:left;

}
.moveLoginPage{
	margin-top:10px;
	margin-right:5px;
	color:grey;
	float:right;
}